.contactSubheading {
    text-align: center;
    color: #2C0E37;
}

.contactCard {
    color: white;
    background-color: #59656F;
    padding-bottom: 1vh;

}

.homeCard {
    display: flex;
    justify-content: space-evenly;
    background-color: #59656F;
}

.contactCardHeader {
    text-align: center;
}
.iconRow {
    justify-content: space-evenly;
}

.iconCard {
    justify-content: center;
    text-align: center;
    background-color: #2C0E37;;
    max-width: 125px;
    max-height: 150px;
    padding: 0px;
}

.fa-envelope-o {
    background-color:#2C0E37;;
    color: white;
    width: 100px;
    height: 100px;
}

.fa-link {
    color: white;
}

.resumeLink {
    color: #156064;;
}