.contactSubheading {
    text-align: center;
}

.contactCard {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFFBFC;
}
.iconRow {
    justify-content: space-evenly;
}

.iconCard {
    justify-content: center;
    text-align: center;
    background-color: #156064;;
    max-width: 125px;
    max-height: 150px;
    padding: 0px;
}

.fa-linkedin {
    background-color:#156064;;
    color: white;
    width: 100px;
    height: 100px;
}

.githubContactLink {
    color:white;
    background-color: #156064;;
    width: 100px;
    height: 100px;
}

.fa-envelope-o {
    background-color:#156064;;
    color: white;
    width: 100px;
    height: 100px;
}

.fa-phone {
    background-color:#156064;;
    color: white;
    width: 100px;
    height: 100px;
}

.fa-link {
    color: white;
}

.resumeLink {
    color: #156064;;
}