.homeCardHeader {
    text-align: center;
}

.homeTitleCard {
    background-color: #59656F;
    text-align: center;
    width: 100%;
    margin-bottom: 2vh;
}

.about-me-text {
    padding: 5px;
}

.about-me-img {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 12em; 
    height: 12em; 
    float: left
}

.techList {
    text-align: center;
    padding: initial;
}
.techListItem {
    display: inline;
    list-style: none;
}

.techListItem:after { 
    content: " \00b7"; 
}
.techListItem:last-child:after { 
    content: none;
}

.moreInfo {
    text-align: center;
    color: #F8F7FF;
}

.moreInfoButton {
    background-color: #2C0E37;
    border: none;
    color: #F8F7FF;
}