.header {
    background-color: #59656F;
    border-radius: 0.25rem;
    border-color: transparent;
    margin: auto;
    margin-top: 2vh;
}

.headerRow{
    justify-content: center;
}

.headerName {
    color: #2C0E37;
}

.customNavbar {
    background-color: #59656F;
}

.navLinkButton {
    background-color: #2C0E37;
    border: none;
}

.navLinkButton:hover{
    background-color: #2C0E37;
}

.dropdownButton {
    background-color: #c4c4c4;
    color: white;
}
.dropdownIcon {
    color: white;
}
.navbar-brand {
    float: left;
    background-color: #59656F;
    padding: 1vw;
    margin-right: 0px;
    border-radius: .25rem;
}

.nav-item {
    margin: 5px;
}

a.navlink {
    font-size: 20px;
    color: #F8F7FF;
    background-color: #2C0E37;
}
.dropdown-item{
    background-color: #2C0E37;
    margin-left: 5px;
    border-radius: 0.25rem;
}

.dropdown-item:hover{
    background-color: #59656F;
}

.dropdown-item:focus {
    background-color: transparent;
}