body {
    background-color: #1D1E2C;
}

h1 {
    color: #2C0E37;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
}

h2 {
    color: #2C0E37;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
}

.videoCard {
    background-color: #59656F;
}

.videoCardHeader {
    text-align: center;
}

.galleryImage {
    width: 20vw;
}